@font-face {
	font-family: 'cairo';
	src: url('../font/Cairo.ttf');
}
@font-face {
	font-family: 'cairo';
	src: url('../font/jozoor.ttf');
}
::-webkit-scrollbar{
	width: 10px;
}
::-webkit-scrollbar-thumb{
	background:#3a3a3a;
}
::-webkit-scrollbar-thumb:hover{
	background:#2b76a1;
}
html,*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	outline: none;
	direction: rtl;
	text-align: justify;
}
p{
	margin: 0!important;
	text-align: right;
}
body{
	color: #333;
	background-color: #fdfdfd;
	font-family:'jozoor','cairo',system-ui;
}
a{
	transition: .3s;
}
a:hover{
	text-decoration: none;
}
a:not([href]){
	color: #1068c5!important;
}
.code pre{
	direction: ltr!important;
    text-align: left;
    white-space: pre-line;
}
/*header*/
.header{
    background: #343a40;
    color: #fff;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
	justify-content: space-between;
    padding: 0 1rem;
}
.header .brand{
	font-size: 1.3rem;
    margin: 0;
    color: #fff;
}
.header .cr{
	color: #d3d3d39c;
}
.header .cr a{
	color: rgb(33 150 243 / 60%);
}
.highlight-yellow{
	width: fit-content;
	background-color: #ffff00bd;
}
.final-title{
	width: fit-content;
	text-align: center;
	margin: 10px auto;
	background-color: rgb(69 195 10 / 54%);
	padding: 3px 10px;
}
.note{
	color: rgb(236, 8, 38);
}
.title{
	color: #3f51b5;
}
/*wrapper*/
.wrapper{
	display: flex;
	padding-top: 3rem;
}
/*sidebar*/
.sidebar{
	background-color: #f5f5f7;
    min-width: 250px;
    position: fixed;
    height: 100%;
    z-index: 99;
	border-left: 1px solid #333;
	overflow: scroll;
}
.sidebar .list{
	padding: 0.5rem 0;
}
.sidebar .list a{
	display: block;
	width: 100%;
	color: #444;
	padding: 10px 20px 3px 5px;
	font-size: 16px;
}
.sidebar .list a:hover{
	color: #444!important;
	background-color: #fff;
}
.sidebar .list a:active{
    background-color:#e3e3e3 !important;
}
/*main*/
.main{
	width: 100%;
	min-height: 100vh;
	padding: 0.5rem;
	padding-right: 260px;
}
.main h1,h2,h3,h4{
	color: #111;
}
.section{
	margin-top: 1rem;
    padding: 1rem;
}
.section#structure p{
	line-height: 25px;
}
.section#structure strong,.section#structure b{
	line-height: 25px;
}
.space{
	padding: 0 15px;
}

.color-red{
	color: #e91e45;
}
.color-green{
	color: #38b13d;
}
.color-yellow{
	color: #dbd41b;
}
.color-orange{
	color: #f96714;
}
.no-padding{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
code pre{
	padding-top: 0!important;
	padding-bottom: 0!important;
}
